canvas {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -300px; /* This is half the width */
    margin-top: -200px; /* This is half the height */
    transform:rotate(180deg);
}
#tank1 {
    position: absolute;
    top: 30%;
    transform: rotate(270deg);
    left:20%;
}
#tank2{
    position: absolute;
    top: 60%;
    transform: rotate(270deg);
    left:20%;
}